


.container{
    position: relative;
     width: 300px;
  display:grid;
     grid-template-columns:auto auto auto auto auto;
     grid-column-gap:40px;
     grid-row-gap: 50px;
     padding: 50px;
   }
 
   .container .product{
     width: 100%;
     background: #fff;
   }
 
   .container .product .img{
     position:relative;
     width: 250px;
     height: 280px;
 
   }
 
   .container .product .img img{
     position:absolute;
     top: 0;
     left: 0;
     width: 250px;
     height: 280px;
     object-fit: cover;
     
     
   }

   