h5{
  font-size: 16px;
  font-weight:medium;
}
h6,del{
  font-size: 14px;
}
.products-container{
  margin: 0 2rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)) ;
    grid-gap: 2rem;
    grid-column-gap: 2rem;
    padding:3.5rem 2rem; 
   }
 
   .container .product{
     background: #fff;
     display: flex;
     flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
   }
   .product:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .offer{
    position:absolute;
    top: -8px;
    left: -8px;
    z-index: 45;
  }
 
 .content{
     display: flex;
     flex-direction: column;
     align-items: flex-start;

 }
   
 
   .container .product .img img{
    
    
    width: 100%;
     object-fit: contain;
     cursor: pointer;
     transition: ease-in-out;
     
   }

 

   .container .product .content{
       padding: 10px;
     margin-left: 5px;
   }

  .ratings{
margin-bottom: 1rem;
  }
  .price{
      display: flex;
      width: 100%;
      justify-content: space-between;
  }

  .fa-star, .fa-star-half-alt,.discount{
    color:#BD9758;
  }
  .ratings i:last-child span{ 
    color: rgb(161, 161, 161);
  }

  .end{
    text-align: center;
    margin: 1rem 0;
   
  }
  .end button{
    font-size: 18px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    
  }
  .end:hover button{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
 .img{
   position: relative;
   z-index: 25;
 }
  .view-btn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255,0.6);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer; 
    z-index: 30;
    transition:ease-in .5s ;
    display: none;
  }
 .view-btn:hover{
    background: rgb(255, 255, 255,0.8);
    
  }
  .view-btn:hover img{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
  }
  .img:hover .view-btn{
    display: flex;

  }

  