@import url("http://fonts.cdnfonts.com/css/metropolis-2?styles=21180,21184,21188,21176");
.dark-font .breadcrumb-item + .breadcrumb-item::before {
  color: rgb(0, 0, 0);
}
.dark-font .breadcrumb-item.active {
  color: #12aef7;
}



.carousel-item {
  height: 550px;
  width: 450px;
}
.carousel-item img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon /*, .carousel-indicators */ {
  filter: invert(100%);
}
#carouselExampleControls {
  width: min-content;
  height: 100%;
}
.vertical-img img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.size-box > div {
  border: 1px solid black;
  padding: 0.2rem;
  margin-right: 1rem;
  width: 35px;
  display: flex;
  justify-content: center;
}
.color-choice > div {
  width: 20px;
  height: 20px;
}
.color-choice .color1 {
  background-image: linear-gradient(
    to right top,
    #a8fa91,
    #bbf584,
    #d4f780,
    #e9f678,
    #fff573
  );
  border: 1px solid black;
}
.color-choice .color2 {
  background-image: linear-gradient(
    to right top,
    #555df8,
    #7a3cf5,
    #ab34fb,
    #d626fe,
    #ff00ff
  );
  border: 1px solid black;
}
.color-choice .color3 {
  background-image: linear-gradient(
    to right top,
    #ffc7c7,
    #f9c8e0,
    #e4cef6,
    #c4d7ff,
    #a5e0ff
  );
  border: 1px solid black;
}
.stars .far:before,
.stars .fas:before {
  color: #bd9758;
}

.number-of-items {
  width: 35px;
  border: 1px solid black;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.cart-btn button {
  background: black;
  color: white;
  letter-spacing: 2px;
  padding: 1rem;
  width: 250px;
}
.fav {
  background: rgb(206, 206, 206);
  border-radius: 50%;
}
.fav i {
  padding: 0.5rem;
}
.lg {
  background: rgb(209, 207, 207);
}

.delivery-info {
    color: grey;
    font-size: 15px;
}


.number-of-items{
    width: 35px;
    border: 1px solid black;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-btn button{
    background: black;
    color: white;
    letter-spacing: 2px;
    padding: 1rem;
    width: 250px;
}
.fav{
    background: rgb(206, 206, 206);
    border-radius: 50%;
    margin-left: 1rem;
    
}
.fav i{
    padding: 1rem;
    
}

.lg{
    background: rgb(209, 207, 207);
}

.text-center{
margin-bottom: 2.25rem;
margin-right: 4rem;
}
.line{
    width: 610px;
    border-top: 1.75px solid #8c8b8b;
	border-bottom: 1px solid #fff;
   margin-left: 2.75rem;
 margin-top: -2rem;
}

.accordion {
    color: grey;
    font-family: "Metropolis";
    border-top: 2px solid lightgrey;
}
.accordion-item {
    border: none;
}
.accordion-header {
    border-bottom: 2px solid lightgrey;
}
.accordion-body {
    border-bottom: 2px solid lightgrey;
}
.accordion-button {
    color: grey;
    font-size: 15px;
    padding-left: 0;
    font-weight: 500;
    
}

.accordion-button:focus{
    outline: none !important;
    border: 0 !important;
    box-shadow: none !important;
   background:transparent !important;

}
.accordion-button::after {
  background-image: url("../assets/svg/plus.svg");
  margin-right: 40px;
}
.accordion-button:not(.collapsed)::after {
    margin-right: 40px;
    background-image: url("../assets/svg/minus.svg");

}
.fa-star,  .fa-star-half-alt{
    color:#BD9758;
 

}
.card-body span{ 
    color: rgb(161, 161, 161);
  }
.card {
    
    height:450px;
margin-right: 1rem;
   
}

.card-text h5{
    margin-top: 2rem;
}
.card-img-top {
    height:350px;
    width:287px;
  
}
.flex-shrink-0{
    height:400px;
    width:350px;
}
.content{
    float: right;
   margin-right: 7rem;
   margin-top: 8rem;
}

.straight-line{
    width: 80rem;
    border-top: 1.75px solid #8c8b8b;
	border-bottom: 1px solid #fff;
   margin-left: 9rem;
 margin-top: 10rem;
}


.col-sm-2 {
   padding-top: 5rem;
   width: 300px ;
}

.featured-product{
  margin: 0 auto;
}