@font-face {
  font-family: Metropolis;
  src: url("../assets/fonts/metropolis-regular-webfont.woff") format("woff") url("../assets/fonts/metropolis-regular-webfont.woff2") format("woff2");
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Metropolis", sans-serif;
}

.section-container {
  max-width: 1640px;
  width: 95%;
  margin: 0 auto;
}

.container-fluid {
  padding: 0;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  max-width: 100px;
}
.navbar-brand > img {
  width: 100%;
  height: auto;
}

/**=== === === header === === ===*/
.header {
  background: #e8e8e8;
  height: 100px;
}
.header .main-header {
  height: 100px;
}
.header__search-form {
  max-width: 385px;
  width: 100%;
}
.header__search-input {
  border: none;
  border-bottom: 2px solid #000;
  line-height: 60px;
  text-indent: 30px;
  outline: none;
  background: inherit;
  font-family: "Metropolis", sans-serif;
  font-size: 1rem;
  width: 100%;
}
.header__search-input:focus {
  background: #fff;
}
.header__search-input::-moz-placeholder {
  color: #000;
  text-align: center;
  background: url("../assets/svg/search.svg") no-repeat;
  background-position: 30% 50%;
}
.header__search-input:-ms-input-placeholder {
  color: #000;
  text-align: center;
  background: url("../assets/svg/search.svg") no-repeat;
  background-position: 30% 50%;
}
.header__search-input::placeholder {
  color: #000;
  text-align: center;
  background: url("../assets/svg/search.svg") no-repeat;
  background-position: 30% 50%;
}
.header__user-section div:not(:first-child) {
  margin-left: 50px;
}

.bag {
  position: relative;
}
.bag__count {
  background: #e87e7e;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0 2px;
  position: absolute;
  right: -12%;
  top: -6px;
  border-radius: 4px;
}

/**=== === === navbar === === ===*/
.nav {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
}
.navbar-nav {
  flex-wrap: wrap;
}
.nav-item {
  line-height: 50px;
  padding: 0 40px;
  text-transform: uppercase;
  flex-shrink: 0;
}
.nav-item:hover {
  background: #e8e8e8;
}
.nav-link {
  color: #000 !important;
}
.nav-link > .sale {
  color: #d63031;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 2px;
}

/**=== === === carousel === === ===
 * TODO: Add contents, fix indicator
*/
.carousel-indicators {
  grid-gap: 16px;
}
.carousel-indicators [data-bs-target] {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.25));
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.25));
}
.carousel-indicators .active {
  height: 20px !important;
  width: 20px !important;
}

.carousel-item {
  position: relative;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

.banner__content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.banner__heading {
  margin-bottom: 2.625rem;
  font-size: 5rem;
  font-weight: bold;
  font-family: "FogtwoNo5", serif;
  color: white;
}
.banner__sub-heading {
  color: white;
  width: 50%;
  font-size: 1.5rem;
  margin-bottom: 2.625rem;
}
.banner__btn {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 0.3125em 1.125em;
  background: #fe2d9d;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.banner__btn:hover {
  transform: scale(1.02);
  color: white;
  background: #fe2d9d;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

/**=== === === product sliders === === ===*/
.product-slider-container {
  margin-top: 140px;
  margin-bottom: 140px;
}

.sale__container {
  margin-bottom: 140px;
}

.slider__header {
  margin-bottom: 20px;
}
.slider__heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.slide-control {
  padding: 16px 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  color: #000;
}
.slide-control:hover {
  color: #000;
}
.slide-control:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.slide-control__prev {
  border-radius: 12px 0 0 12px;
  -webkit-border-radius: 12px 0 0 12px;
  -moz-border-radius: 12px 0 0 12px;
  -ms-border-radius: 12px 0 0 12px;
  -o-border-radius: 12px 0 0 12px;
}
.slide-control__next {
  margin-left: 20px;
  border-radius: 0 12px 12px 0;
  -webkit-border-radius: 0 12px 12px 0;
  -moz-border-radius: 0 12px 12px 0;
  -ms-border-radius: 0 12px 12px 0;
  -o-border-radius: 0 12px 12px 0;
}

.view-all {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  border-bottom: 2px solid #000;
}
.view-all:hover {
  color: inherit;
}
.view-all i {
  margin-left: 10px;
}

/*=== === product card === ===*/
.product__card {
  margin: 10px 0 25px;
  width: 360px;
  height: 560px;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.product__card:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}
.product__card:hover img {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
.product__img {
  overflow: hidden;
}
.product__img > img {
  width: 100%;
  height: auto;
}
.product__info {
  padding: 24px;
}
.product__title {
  font-size: 24px;
}
.product__ratings .fas {
  color: #fac57e;
}
.product__ratings span {
  color: #6e6e6e;
}
.product__price {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  align-items: center;
}
.product__price .old-price {
  color: #6e6e6e;
}
.product__price .current-price {
  font-size: 20px;
}

/**=== === === newsletter === === ===*/
.newsletter {
  background: #e8e8e8;
}
.newsletter__container {
  padding: 2.5rem 6.25rem;
  gap: 2.5rem;
  align-items: center;
}
.newsletter__title {
  font-size: 2.375rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.newsletter__sub-title {
  font-size: 1.25rem;
  text-align: center;
}
.newsletter__form {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  width: 650px;
}
.newsletter__form-input {
  border: none;
  border-bottom: 2px solid #000;
  line-height: 60px;
  text-indent: 30px;
  outline: none;
  width: 410px;
  font-size: 1rem;
  flex: 0 0 410px;
}
.newsletter__form-input::-moz-placeholder {
  color: #000;
  text-align: center;
  background: url("../assets/svg/mail.svg") no-repeat;
  background-position: 25% 50%;
}
.newsletter__form-input:-ms-input-placeholder {
  color: #000;
  text-align: center;
  background: url("../assets/svg/mail.svg") no-repeat;
  background-position: 25% 50%;
}
.newsletter__form-input::placeholder {
  color: #000;
  text-align: center;
  background: url("../assets/svg/mail.svg") no-repeat;
  background-position: 25% 50%;
}
.newsletter__form-btn {
  font-size: 1.25rem;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  line-height: 60px;
  color: white;
  background: #000;
  width: 220px;
  background: linear-gradient(147deg, #505050, black 70.71%);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.newsletter__form-btn:hover {
  color: white;
  background: #000;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

/**=== === === footer === === ===*/
.footer__content h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.footer__content ul {
  padding-left: 0;
  margin: 20px 0 0;
}
.footer__content li {
  list-style: none;
  line-height: 36px;
}
.footer__content li a {
  text-decoration: none;
  color: #000;
}
.footer__content .social-links {
  line-height: 60px;
  gap: 16px;
}

.copyright {
  background: #000;
  text-align: center;
  color: white;
  padding: 2rem 0;
}/*# sourceMappingURL=main.css.map */