@import url("http://fonts.cdnfonts.com/css/metropolis-2?styles=21180,21184,21188,21176");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Metropolis", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}
a {
  text-decoration: none !important;
  color: black !important;
}
.dark-font .breadcrumb-item + .breadcrumb-item::before {
  color: rgb(0, 0, 0);
}
.dark-font .breadcrumb-item.active {
  color: #12aef7;
}

.filter {
  margin-bottom: 1rem;
}
.filter button {
  margin-left: auto;
}
.filter .navbar-nav {
  width: 100%;
  justify-content: space-evenly;
}
.filter li {
  margin: 8px 0;
}
.breadcrumb-item a {
  text-decoration: none !important;
  color: salmon !important;
}

.filter .dropdown-item:focus,
.filter .dropdown-item:hover {
  background-color: salmon;
}
/* .stars .far:before,
.stars .fas:before {
  color: #fac57e;
}

.fa-star,
.fa-star-half-alt {
  color: #fac57e;
} */

/* .card {
  height: 495px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 12px;
}
.card-body {
  padding: 0.75rem !important;
}
.card:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}
.filter .dropdown-menu {
  background: white;
  opacity: 0.9;
  border: none;
}
.card:hover img {
  transition: transform 0.3s;
  transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.card-img-top {
  height: 395px;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
} */

.end {
  text-align: center;
  margin: 1rem 0;
}
.end button {
  font-size: 18px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0);
}
.end button > svg {
  margin-left: 8px;
}
.end:hover button {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.end:active button {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.end:hover button > svg {
  fill: rgb(255, 255, 255);
}

 .modal-content{
   border-radius: 0%;
   width: 700px;
 }
 .number-of-items {
  width: 35px;
  border: 1px solid black;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.75rem;
}
.cart-btn button{
  background: black;
  color: white;
  letter-spacing: 2px;
  padding: 1rem;
  width: 250px;
}
.fav{
  background: rgb(206, 206, 206);
  border-radius: 50%;
  margin-left: 1rem;
  
}
.fav i{
  padding: 1rem;
  
}

.lg{
  background: rgb(209, 207, 207);
}
.size-box > div {
  border: 1px solid black;
  padding: 0.2rem;
  margin-right: 1rem;
  width: 35px;
  display: flex;
  justify-content: center;
}
.color-choice > div {
  width: 20px;
  height: 20px;
}
.color-choice .color1 {
  background-image: linear-gradient(
    to right top,
    #a8fa91,
    #bbf584,
    #d4f780,
    #e9f678,
    #fff573
  );
  border: 1px solid black;
}
.color-choice .color2 {
  background-image: linear-gradient(
    to right top,
    #555df8,
    #7a3cf5,
    #ab34fb,
    #d626fe,
    #ff00ff
  );
  border: 1px solid black;
}
.color-choice .color3 {
  background-image: linear-gradient(
    to right top,
    #ffc7c7,
    #f9c8e0,
    #e4cef6,
    #c4d7ff,
    #a5e0ff
  );
  border: 1px solid black;
}
.stars .far:before,
.stars .fas:before {
  color: #fac57e;
}
