@import url('http://fonts.cdnfonts.com/css/metropolis-2?styles=21180,21184,21188,21176');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Metropolis', sans-serif;
}



body{
    background-color: rgb(255, 255, 255);
}
.dark-font .breadcrumb-item + .breadcrumb-item::before {
  color: rgb(0, 0, 0);
}
.dark-font .breadcrumb-item.active {
  color: #12aef7;
}

.bread {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
 .breadcrumb-item a{
text-decoration: none !important;
color: salmon !important;
}

.dropdown-item:focus, .dropdown-item:hover{
  background-color: salmon!important;
}
.stars .far:before,
.stars .fas:before {
  color: #fac57e;
}


.fa-star,  .fa-star-half-alt{
  color: #fac57e;


}